<form method="get" action="/quizes">
	Filtrar con:
	<input type="text" name="search"/>
	<button type="submit" >
	   <img src="/images/buscar.png" width=16 height=16 border=0 ALT="Buscar">
	</button>
</form>
<table>
  <tr>
    <th colspan="4">
      PREGUNTAS
    </th>
  </tr>
<% var i; for (i=0; i < quizes.length; i++) { %> 
	<tr>
		<td width="70%">
			<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
		</td>
		<td width="10%">
			<form method="get" action="/quizes">
				<input type="hidden" name="searchTema" value="<%= quizes[i].tema %>" />
				<button type="submit">
					<img src="/images/<%=quizes[i].tema%>.png" width=56 height=28 border=0 ALT="Editar">
				</button>
			</form>
		</td>
		<% if(session.user) { %> 
			<td width="10%">
				<a href="quizes/<%= quizes[i].id %>/edit">
					<button>
		   				<img src="/images/editar.png" width=28 height=28 border=0 ALT="Editar">
					</button>
				</a>
			</td>
			<td width="10%">
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
						<img src="/images/borrar.png" width=28 height=28 border=0 ALT="Borrar">
					</button>
				</form>
			</td>
		<% } %>
	</tr>
<% } %>

  <tr>
    <th colspan="4" class="thfin">
    </th>
  </tr>

</table>
<br>
<% if(session.user) {%> 
	<a href="/quizes/new"><button type="button"> Crear pregunta </button></a>
<% } %>