<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" value="Respuesta" />
  <input type="submit" value="Enviar">
</form>
<br>
<p>
	<a href="/quizes/<%= quiz.id %>/comments/new">
		<button>Nuevo Comentario</button>
	</a>
</p>

<br>

<table>
	<tr>
		<th colspan="2">
			COMENTARIOS
		</th>
	</tr>

	<%for(index in quiz.Comments) {%>
		<% if(quiz.Comments[index].publicado || session.user) { %>
			<tr>
				<td>
					· <%= quiz.Comments[index].texto %>
				</td>
				<td>
					<% if(session.user && !quiz.Comments[index].publicado) { %>
						<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
							<button>Publicar</button>
						</a>
					<% } %>
				</td>
			</tr>
		<% } %>
	<% } %>
	
	<tr>
    	<th colspan="2" class="thfin">
    	</th>
  	</tr>

</table>
