<table>
	<tr>
		<th colspan="2">
			ESTAD&Iacute;STICAS
		</th>
	</tr>

	<tr>
		<td> N&uacute;mero de preguntas </td>
		<td> <%= estadisticas.numPreguntas %> </td>
	</tr>
	<tr>
		<td> N&uacute;mero de comentarios </td>
		<td> <%= estadisticas.numComentarios %> </td>
	</tr>
	<tr>
		<td> Comentarios medios </td>
		<td> <%= estadisticas.comentariosMedios %> </td>
	</tr>
	<tr>
		<td> Preguntas sin comentarios </td>
		<td> <%= estadisticas.sinComentarios %> </td>
	</tr>
	<tr>
		<td> Preguntas con comentarios </td>
		<td> <%= estadisticas.conComentarios %> </td>
	</tr>

	<tr>
    	<th colspan="2" class="thfin">
    	</th>
  	</tr>

</table>